<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Sentiment Analysis</title>
</head>
<body>
    <h1>Sentiment Analysis</h1>

    <form id="sentimentForm" method="POST">
        {% csrf_token %}
        <textarea id="text" name="text" rows="6" cols="50" placeholder="Insert your text here..."></textarea><br><br>
        <button type="submit">Analyze</button>
    </form>

    <div id="result">
        <h2>Result will be displayed here</h2>
    </div>

    <a href="{% url 'sentiment_history' %}" class="link-button">View History</a>

    <script>
        $('#sentimentForm').on('submit', function(event) {
            event.preventDefault(); // No page reload
    
            let inputText = $('#text').val();
    
            $.ajax({
                url: '',  // Django views
                type: 'POST',
                data: {
                    'text': inputText,
                    'csrfmiddlewaretoken': '{{ csrf_token }}' // CSRF Token
                },
                success: function(response) {

                    if (response.text.length > 40) {
                        analyzedText = response.text.substring(0, 40) + '...';
                    } else {
                        analyzedText = response.text;
                    }

                    let polarity = response.polarity.toFixed(4)

                    $('#result').html(`
                        <h2>Sentiment Analysis Result</h2><br>
                        <p><strong>Analyzed Text:</strong> ${analyzedText}</p>
                        <p><strong>Sentiment:</strong> ${response.sentiment}</p>
                        <p><strong>Sentiment Polarity:</strong> ${polarity}</p>
                    `);
                },
                error: function(xhr, errmsg, err) {
                    $('#result').html(`<p>There was an error: ${errmsg}</p>`);
                }
            });
        });
    </script>

</body>
</html>
